In [5]:
import pandas as pd
import os

### Task # 01 Mergin 12 month of sales data into a single file

In [7]:
df = pd.read_csv('./dataset/Sales_August_2019.csv')
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,236670,Wired Headphones,2,11.99,08/31/19 22:21,"359 Spruce St, Seattle, WA 98101"
1,236671,Bose SoundSport Headphones,1,99.99,08/15/19 15:11,"492 Ridge St, Dallas, TX 75001"
2,236672,iPhone,1,700.0,08/06/19 14:40,"149 7th St, Portland, OR 97035"
3,236673,AA Batteries (4-pack),2,3.84,08/29/19 20:59,"631 2nd St, Los Angeles, CA 90001"
4,236674,AA Batteries (4-pack),2,3.84,08/15/19 19:53,"736 14th St, New York City, NY 10001"

In [8]:
os.listdir()

['.git', '.ipynb_checkpoints', 'dataset', 'SalesAnalysis.ipynb']

In [17]:
# Reading list of all dorectories

all_months_data = pd.DataFrame()
# above an empty data frame for all onths

files = [file for file in os.listdir('./dataset')]

for file in files:
    df= pd.read_csv('./dataset/'+file)
    all_months_data = pd.concat([all_months_data, df])

    
#making a new filll of all merged data

all_months_data.to_csv('all_data.csv', index=False)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [19]:
all_data = pd.read_csv('all_data.csv')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

#### Augment Data With Additional Colums

#### Task 2 : Add month Colum

In [ ]:
all_data['month'] = all_data['Order Date'].str[0:2]

data_types = all_data.dtypes
print(data_types)

# all_data['month'] = all_data['month'].astype('int32')
# all_data.head(10)

#### Clean Up The Data !!

#### Drop Rows Wiht Nan

In [37]:
nan_df = all_data[all_data.isna().any(axis=1)]
nan_df.head()


# Drop null vlaues rows

all_data = all_data.dropna(how='all')

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1433,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Question 01 : What was th ebest minth for sales? how much was earnied that month ?